.vs/
.idea/
bin/*
obj/*
*/log/*
/ScrawlDataIntraday/bin/*
/ScrawlDataIntraday/obj/*
/ScrawlDataIntraday/obj/Debug/net8.0/ref/ScrawlDataIntraday.dll
/ScrawlDataIntraday/bin/Debug/net8.0/ScrawlDataIntraday.dll
/ScrawlDataIntraday/bin/Debug/net8.0/ScrawlDataIntraday.exe
/ScrawlDataIntraday/bin/Debug/net8.0/ScrawlDataIntraday.pdb
/ScrawlDataIntraday/obj/Debug/net8.0/ScrawlDataIntraday.AssemblyInfo.cs
/ScrawlDataIntraday/obj/Debug/net8.0/ScrawlDataIntraday.AssemblyInfoInputs.cache
/ScrawlDataIntraday/obj/Debug/net8.0/ScrawlDataIntraday.csproj.FileListAbsolute.txt
/ScrawlDataIntraday/obj/Debug/net8.0/ScrawlDataIntraday.dll
/ScrawlDataIntraday/obj/Debug/net8.0/ScrawlDataIntraday.pdb
/ScrawlDataIntraday/obj/Debug/net8.0/apphost.exe
/ScrawlDataIntraday/obj/Debug/net8.0/refint/ScrawlDataIntraday.dll
